{# templates/frontoffice/baselayout.html.twig #}
<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Application todos{% endblock %}</title>
    <nav>
	<ul>
		<li>
			<a href="{{ path('circuitlist') }}">Circuits</a>
		</li>
		<li>
			<a href="{{ path('programmationlist') }}">Programmation</a>
		</li>
	</ul>
    </nav>
  </head>
  <body>
    {% block body %}
    {% endblock %} {# body #}
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
