{# templates/frontoffice/circuitslist.html.twig #}

{% extends "frontoffice/baselayout.html.twig" %}

{% block title %}{{ parent() }} - Circuits list{% endblock %}

{% block body %}
    <h1>Next two weeks circuits</h1>
    {% if circuitslist is not empty %}
        <p>Here are all your next circuits:</p>
        <ul>
        {# Loop through list and creeate the list of circuit items. #}
        {% for circuit in circuitslist %}
            <li>
          		<a href="{{ path('circuitshow', { 'id' : circuit.id }) }}">{{ circuit.description }}</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Sorry, you don't have any circuits programmed for the next two weeks :(</p>
    {% endif %}

{% endblock %} {# body #}
