{# templates/frontoffice/circuitslist.html.twig #}

{% extends "frontoffice/baselayout.html.twig" %}

{% block title %}{{ parent() }} - Circuits list{% endblock %}

{% block body %}
    <h1>Circuits à venir !</h1>
    {% if circuitslist is not empty %}
        <p>Voici tous les circuits programmés au cours des deux prochaines semaines :</p>
        <ul>
        {# Loop through list and creeate the list of circuit items. #}
        {% for circuit in circuitslist %}
            <li>
          		<a href="{{ path('circuitshow', { 'id' : circuit.id }) }}">{{ circuit.description }}</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Désolé, aucun circuit n'est programmé pour les deux prochaines semaines :((</p>
    {% endif %}

{% endblock %} {# body #}
