{# templates/frontoffice/programmationslist.html.twig #}

{% extends "frontoffice/baselayout.html.twig" %}

{% block title %}{{ parent() }} - programmations list{% endblock %}

{% block body %}
    <h1>Liste des programmations</h1>
    {% if programmationslist is not empty %}
        <p>Voici toutes les programmations :</p>
        <ul>
        {# Loop through list and creeate the list of programmation items. #}
        {% for programmation in programmationslist %}
            <li>
          		<a href="/circuit/{{ programmation.circuit.id }}">{{ programmation.circuit.description }}</a> le {{ programmation.dateDepart|date('d-m-Y')  }}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Désolé, il n'y a rien de programmé pour l'instant :(</p>
    {% endif %}    
{% endblock %} {# body #}
