{# templates/backoffice/adminlayout.html.twig #}

{% extends "baselayout.html.twig" %}

{% block menu %} 
            <li><a href="{{ path('admin_circuitlist') }}">Gestion des circuits</a> </li>
            <li><a href="#{# path('admin_programmationlist') #}">Gestion des programmations</a></li>
            <li><a href="{{ path('index') }}">Retour à l'accueil</a></li>
    
	{# Display messages resulting from redirects after C(R)UD actions #}
    {% for message in app.session.flashbag.get('message') %}
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <p>{{ message }}</p>
        </div>
    {% endfor %}

{% endblock %}{# menu #}

{% block footer %}
{% endblock %}
