{# templates/backoffice/admin.html.twig #}

{% extends "backoffice/adminlayout.html.twig" %}

{% block title %}{{ parent() }} - Welcome{% endblock %}

{% block body %}

<h1>Bienvenue dans l'interface de gestion de la Varecuria</h1>
<p>Todo:</p>
    <ul>
	<li>Retirer les images de chaton du dossier static/</li>
	<li>Demander à l'artiste sa permission pour utiliser son image en fond d'écran du site</li>
	<li>Mettre un mot de passe administrateur</li>
	<li>Rajouter une musique d'ambiance en fond sonore</li>
    </ul>

{% endblock %} {# body #}
