{% extends "backoffice/adminlayout.html.twig" %}

{% block title %}{{ parent() }} - New programmation{% endblock %}

{% block body %}

  <h1>Nouvelle programmation</h1>

  {% include 'backoffice/progform.html.twig' %}

{% endblock %} {# body #}
