
body {
	padding-top: 70px;
}

#background {
	/* background-image: url(https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-567550.jpg); */
	background-size: cover;
	background-image: url(/static/background.jpg);
	background-repeat: no-repeat;
	background-origin: padding-box;
	-webkit-background-clip: padding-box;
}

.navbar-default .navbar-nav>li>a {
	color: #f7f9f9;
}
.navbar-default .navbar-brand {
	color: #f7f9f9;
}

div#navbar {
	background-color:#239ea5;
}

.navbar-header {
	background-color:#239ea5;
}
